@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";


html {
    overflow: hidden;
}

* {
    font: inherit;
}

body {
    font-family: var(--font-family-main);
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    min-height: calc(100vh);
    position: relative;
    z-index: 999;
    border-left: 1px solid var(--inverted-border-color);
    transition: width var(--transition), margin var(--transition);
    background-color: var(--inverted-content-bg-color);

    &.collapsed {
        width: calc(100% - var(--sidebar-width-collapsed));
        margin-left: var(--sidebar-width-collapsed);
        transition: width var(--transition), margin var(--transition);
    }
}

.page-wrapper {
    padding: 20px;
}