:root {
    --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: 14px;
    --font-line: 22px;
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-size-m: 20px;
    --font-line-m: 28px;
    --font: var(--font-size) / var(--font-line) var(--font-family-main);
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 60px;
    --sidebar-width: 220px;
    --sidebar-width-collapsed: 60px;

    // z - Индексы
    --modal-z-index: 9999;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);

    --transition: 0.3s;

    --yellow-bg-color: #ffc107;
    --yellow-bg-color-hover: #f0b609;

    --red-bg-color: #fc4d2e;
    --red-bg-color-hover: #e93818;

    --blue-bg-color: #49b7f7;
    --blue-bg-color-hover: #2aa0e4;
    
    --green-bg-color: #27db45;
    --green-bg-color-hover: #2cc446;
    
    --black-bg-color: #0d0e0f;
    --black-bg-color-hover: #333;
    
    --grey-bg-color: #c7c7c7;
    --grey-bg-color-hover: #adadad;
    
    --transparent-bg: transparent;

    --rounded: 4px;
}
