.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content; 
    line-height: 1.5;

    button {
        cursor: pointer;
        border: 0;
        padding: 6px 15px;
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: var(--inverted-primary-color);
        transition: background-color var(--transition);
        margin: 0;

        &.disabled {
            opacity: 0.5;
            cursor: default;
        }
        
    }

    .yellow {
        background-color: var(--yellow-bg-color);
    
        &:hover {
            background-color: var(--yellow-bg-color-hover);
            transition: background-color var(--transition);
        }
    }
    
    .blue {
        background-color: var(--blue-bg-color);

        &:hover {
            background-color: var(--blue-bg-color-hover);
            transition: background-color var(--transition);
        }
    }

    .red {
        background-color: var(--red-bg-color);
        color: #fff;

        &:hover {
            background-color: var(--red-bg-color-hover);
            transition: background-color var(--transition);
        }
    }

    .green {
        background-color: var(--green-bg-color);

        &:hover {
            background-color: var(--green-bg-color-hover);
            transition: background-color var(--transition);
        }
    }

    .black {
        background-color: var(--inverted-button-color);
        color: #fff;
    
        &:hover {
            background-color: var(--black-bg-color-hover);
            transition: background-color var(--transition);
        }
    }

    .grey {
        background-color: var(--grey-bg-color);
    
        &:hover {
            background-color: var(--grey-bg-color-hover);
            transition: background-color var(--transition);
        }
    }

}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.rounded {
    border-radius: var(--rounded);
}

.bold {
    font-weight: bold;
}

.semibold {
    font-weight: 500;
}

.w100 {
    width: 100%;
    max-width: 100%;
}
