.Sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width var(--transition);
    position: fixed;
    top: 0;
    bottom: 26px;
    left: 0;
    max-width: var(--sidebar-width);
}

.Logo {
    padding-left: 10px;
    height: var(--navbar-height);
    display: block;
    border-bottom: 1px solid var(--inverted-border-color);
    svg {
        height: 60px;
        display: block;
        path {
            fill: var(--inverted-primary-color);
        }
    }
}

.items_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - var(--navbar-height));
}



.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    display: flex;
    flex-direction: column;
    
}

.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link {
    margin-left: 22px;
    opacity: 1;
    display: block;
}

.icon {
    fill: var(--inverted-primary-color);
}
