.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    background: transparent;
    border: 1px solid var(--inverted-border-color);
    padding: 5px;
    outline: none;
    width: 100%;
    color: var(--inverted-primary-color);
    font: var(--font);
    &:focus {
        outline: none;
    }
}