.app_dark_theme {
    --bg-color: #2c2c2c;
    --inverted-bg-color: #2c2c2c;
    --primary-color: #f3f3f3;
    --secondary-color: #aaa;
    --inverted-primary-color: #f3f3f3;
    --inverted-primary-color-rgba: 255, 255, 255;
    --inverted-secondary-color: #0452ff;
    --inverted-active-bg-color: #626262;
    --inverted-button-color: #626262;
    --inverted-footer-bg-color: #626262;
    --inverted-border-color: #626262;
    --inverted-footer-color: #fff;
    --inverted-loader-color: #fff;
    --inverted-loader-bg-color: #9c9c9c;
    --inverted-content-bg-color: #424242;
}
