:root {
    --bg-color: #ffffff;
    --primary-color: #1f92fd;
    --secondary-color: #271494;

    --inverted-bg-color: #1f1c1c;
    --inverted-primary-color: #abbed1;
    --inverted-secondary-color: #c2bfd3;

    --inverted-border-color: #1f1c1c;
}