:root {
    --bg-color: #fff;
    --color: #212529;
    --primary-color: #1f92fd;
    --secondary-color: #271494;
    --inverted-bg-color: rgb(255, 255, 255);
    --inverted-primary-color: #212529;
    --inverted-primary-color-rgba: 0, 0, 0;
    --inverted-button-color: #0d0e0f;
    --inverted-secondary-color: #c2bfd3;
    --inverted-border-color: #dcdcdc;
    --inverted-active-bg-color: #f2f2f2;
    --inverted-footer-bg-color: #212529;
    --inverted-footer-color: #fff;
    --inverted-loader-color: #333;
    --inverted-loader-bg-color: #ccc;
}